<section class="body">
    <div class="row">

        <p>{{invite_user}} vừa mời bạn tham dự vào lớp</p>
        <p>Link tham dự: <span style="color: #15c;text-decoration: underline">{{invite_link}}</span></p>        
</section>
