<section class="body">
    <div class="row">
        <p>Bạn vừa mới tạo một tài khoản Gradebook</p>
        <p>Để kích hoạt tài khoản, truy cập: <span style="color: #15c;text-decoration: underline">{{activation_link}}</span></p>
        <p>Nếu không nhận ra hành động này, vui lòng bỏ qua email này</p>
</section>
