<section class="body">
    <div class="row">
        <p>Bạn vừa yêu cầu reset mật khẩu tài khoản Gradebook</p>
        <p>Để reset, truy cập: <span style="color: #15c;text-decoration: underline">{{reset_link}}</span></p>
        <p>Nếu không nhận ra hành động này, vui lòng bỏ qua email này</p>
</section>
