<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="font-size: 14px;">
    <p>Chào bạn,</p>
    {{{ body }}}
    <p>Xin cảm ơn !</p>
    <b style="color: blue;font-style: italic">GRADEBOOK</b>
</body>

</html>